
.boxBorderWrap {
  min-width: 24rem;
  border-radius: .5rem;
  position: relative;
  background: linear-gradient(to right, lightseagreen, purple);
  padding: .2rem;

  .box {
    background: #000;
    color: black;
    padding: 2rem 2.25rem 2rem 2.25rem;
  }


}
