.footer {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.footer p {
    margin: 1vh 0;
    font-size: .75rem;
}

@media (max-width: 768px) {
    .footer p {
        font-size: .5rem;
    }

}