.footerContainer {
  margin-top: 1rem;
}

.footer {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100vw;
  margin-bottom: .5rem;

}

.footer p {
  font-size: .75rem;
}

@media (max-width: 768px) {
  .footer p {
    font-size: .5rem;
  }

}