html {
    background: black;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    /*overscroll-behavior: none;*/

    /*position: fixed;*/

    /*overscroll-behavior-block: contain;*/
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1.5rem;
}

*::-webkit-scrollbar-track {
    /*background-color: black;*/
    /*box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.3);*/
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, rgb(133, 40, 173) 0%, rgb(1, 44, 255) 100%);
}

*::-webkit-scrollbar-thumb {
    border: .1rem solid black;
    border-radius: 1rem;
    /*background-color: #1ac7b2;*/
    /*outline: 100vh solid #4a109a;*/
    background: transparent;
    box-shadow: 0 0 0 100vh #1ac7b2;
}

::-webkit-scrollbar-corner {
    background: black;
}

@media (max-width: 768px) {
    *::-webkit-scrollbar {
        width: 1rem;
    }
}
