.header {
  color: white;
  min-height: 5vh;
  padding: 0 2rem;
  height: auto;

  .nav {
    padding: .5rem 1rem;
    display: grid;
    grid-template-areas:
  'left right';

    li {
      list-style: none;
      font-size: 1.25rem;
    }

    .navGridLeft {
      grid-area: left;
      align-self: center;

      ul {
        display: flex;

        li {
          padding: 0 .25rem;

          span {
            font-weight: bold;
            //color: rgb(24,199,177);
          }
        }
      }
    }

    //navGridLeft end

    .navGridRight {
      grid-area: right;
      align-self: center;

      ul {
        display: flex;
        justify-content: flex-end;

        li {
          padding: 0 .5rem;
        }
      }
    }

    //navGridRight end

  }
}

//media queries
@media (max-width: 768px) {
  .header {
    padding: 0 .2rem;

    .nav ul > * {
      font-size: .75rem;
    }

    #m, #p {
      font-size: .75rem;
    }
  }
}








