.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    min-height: 5vh;
    padding: 0 2rem;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.header ul li {
    padding: 1rem;
}

.logo {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.logo a {
    color: red;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .header ul {
        margin: .5rem 0;
        flex-direction: column;
        text-align: center;
    }

    .header a {
        margin-right: 0;
    }

    .logo {
        margin: 1rem 0;
    }
}
