.header {
    position: relative;
    color: white;
    font-size: 6vw;
    font-weight: bold;
    padding-left: 10vw;
    overflow: hidden;
    margin-top: 5vh;
}

.background {
    background: red;
    position: absolute;
    bottom: 0;
    display: inline-block;
    height: 1vh;
    padding-top: 15vh;
}

.hi {
    display: inline-block;
    margin-left: .25vw;
}

.words {
    font-weight: normal;
    padding-left: .5vw;
}

.cursor {
    color: white;
    font-weight: normal;
    animation-name: slideIn;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.main {
    color: white;
}

/*@keyframes fadeIn {*/
/*  0% {*/
/*    visibility: hidden;*/
/*    opacity: 0;*/
/*  }*/
/*  100% {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*    transition: all 2s linear;*/
/*  }*/
/*}*/
