.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;

}

.layer1 {
    background-image: url('../src/svg/layer1.svg');

}

.layer2 {
    background-image: url('../src/svg/layer2.svg');
}


.blobWrapper {
    display: flex;
}

.layer3 {
    margin-top: -1vh;
    background-image: url('../src/svg/layer3.svg');
}

