.showcaseWrapper {
    position: relative;
    color: white;
    font-size: 5.9vw;
    font-weight: bold;
    padding-left: 30vw;
    margin-top: 5vh;
    overflow: hidden;
}

.bgBox {
    display: inline-block;
    position: absolute;
    background: hsl(269, 69%, 46%) !important;
    bottom: 0;
    padding-top: 16vh;
}

.hi {
    display: inline-block;
    margin-left: .25vw;
}

.words {
    font-weight: normal;
    padding-left: 1vw;
}

.cursor {
    color: white;
    font-weight: normal;
    animation-name: slideIn;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {

    .words {
        padding-left: 1.25vw;
    }
}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
    .bgBox {
        padding-right: 18vw;
    }
}